* {
    border: 1px solid red;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #485057;
    color: #fff;
    padding: 16px;
    height: 90px;
    text-align: center;
}

.container-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 860px;
}

.container-section {
    margin: auto;
    max-width: 860px;
}

.logo {
    font-weight: bold;
    font-size: 32px;
}

.links-rigth {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.subheader {
    background-color: rgb(72, 80, 87);
    min-height: 320px;
    color: #fff;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.subheader-left {
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 16px;
}

.subheader-left p {
    color: #e8e8e8;
}

.subheader-left button {
    padding: 8px 32px;
    border: 2px solid #5959f0;
    background-color: #5959f0;
    border-radius: 10px;
    align-self: flex-start;
    color: #fff;
}

.image {
    background-color: #6b757d;
    height: 200px;
    flex: 0 1 500px;
    text-align: center;
    align-content: center;
}

.images {
    /* padding: 64px 32px 32px;
    text-align: center; */
    min-height: 500px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 56px;
    padding: 32px;
}

.box-container {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 200px;
    gap: 16px;
}

.box {
    border-radius: 15px;
    border: 4px solid rgb(45, 101, 180);
    width: 200px;
    flex: 0 1 200px;
}

.container-section-quotes {
    min-height: 300px;
    background-color: #e5e7eb;
    padding: 32px;
    gap: 32px;
    display: flex;
}

.quote-box {
    max-width: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* gap: 16px; */
}

.quote {
    flex: 0 1 150px;
    align-content: flex-end;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1f2937;
}

.author {
    align-self: flex-end;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}